
<h1 class="justify-content-center d-flex m-4 text-danger">
    <span class="border-bottom border-danger">To Do List</span>
  </h1>
  
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createTaskModal">Create Task</button>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="createTaskModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTaskModalLabel">Create New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="submitTask()" #taskForm="ngForm">
            <div class="mb-3">
              <label for="taskInput" class="form-label">Task</label>
              <input type="text" id="taskInput" class="form-control" placeholder="Add Task" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" required />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="value=''">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Action 1</th>
              <th scope="col">Action 2</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of lists; let i = index">
              <td>
                <div class="form-check">
                  <label class="form-check-label" *ngIf="!list.edit">
                    {{ list.value }}
                  </label>
                  <input [(ngModel)]="list.value" *ngIf="list.edit" />
                </div>
              </td>
              <td>
                <button class="btn btn-success" (click)="editTask(list)">{{ list.edit ? "Submit" : "Edit" }}</button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteTask(list)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  